.table-component {
  margin-bottom: 15px; }
  .table-component table {
    border-collapse: collapse; }
    .table-component table th, .table-component table td {
      box-sizing: border-box;
      border: 1px solid #000;
      border-collapse: collapse;
      padding: 10px 25px 10px 10px;
      position: relative; }
    .table-component table th {
      background: url("../../assets/images/sort-arrows-couple-pointing-up-and-down.png") no-repeat 95%; }
